@{
    ViewData["Title"] = "Nodes";
    Layout = "~/Views/Shared/_Layout.full.cshtml";
}

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li class="breadcrumb-item active">Nodes</li>
</ol>

<div class="alert alert-danger" id="error-alert" style="display:none;"></div>

<div class="background-panel">
    @*<h5>Certificate Manager Nodes</h5>*@
    <div id="nodeTable"></div>
</div>

@Html.Partial("~/Views/Node/_AddNodeModal.cshtml")

    
@section Script{ 

    <script>
        $(document).ready(function () {
            Nodes.PageLoad();
        });
    </script>
}