@{
    ViewData["Title"] = "Node";
    Layout = "~/Views/Shared/_Layout.full.cshtml";
}

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li class="breadcrumb-item active">Node Details</li>
</ol>

<div class="alert alert-danger" id="error-alert" style="display:none;"></div>

<div class="alert alert-success" id="success-alert" style="display:none;">
    Node successfully edited
</div>

<div class="background-panel">


    <div class="tab">
        <button class="nodeDetails tablinks" onclick="openTab(event, 'nodeDetails')" id="defaultOpen">Details</button>
        <button class="nodeManagedCertificates tablinks" onclick="openTab(event, 'nodeManagedCertificates')">Managed Certificates</button>
    </div>

    <div id="nodeDetails" class="tabcontent">

        <div class="container">
            <div class="form-group">
                <label for="id">Id</label>
                <input class="form-control" type="text" readonly id="id" name="id" value="@ViewBag.NodeId">
            </div>

            <div class="form-group">
                <label for="name">Hostname</label>
                <input type="text" class="form-control" id="hostname">
            </div>

            <div class="form-group">
                <label for="credential">Credential</label>
                <input type="text" class="form-control" id="credential">
            </div>


            <div class="form-group row">
                <div class="col-sm-1">
                    <button class="btn btn-primary" onclick="">Save</button>
                </div>
                <div class="col-sm-1">
                    <button class="btn btn-primary" onclick="NodeDetails.InvokeCertificateDiscovery();">Start Certificate Discovery</button>
                </div>
            </div>
        </div>



    </div>

    <div id="nodeManagedCertificates" class="tabcontent">
        <table class="table table-striped" id="managedCertificatesTable">
            <thead>
                <tr>
                    <th data-field="managedCertificateType" scope="col">Type</th>
                    <th data-field="thumbprint" scope="col">Thumbprint</th>
                    <th data-field="action" scope="col">Action</th>
                </tr>
            </thead>
        </table>

        <ol class="breadcrumb" style="margin-top:20px;">
            <a class="btn btn-sm btn-info" href="#" onclick="NodeDetails.ResetManagedCertificatesState();">
                <i class="fa fa-eraser"></i> Reset Managed Certificates
            </a>
        </ol>

    </div>

</div>


@section Script{

    <script>
        $(document).ready(function () {
            NodeDetails.PageLoad();
        });
    </script>
}
