
@{
    ViewData["Title"] = "Users";
    Layout = "~/Views/Shared/_Layout.light.cshtml";
}

<div class="alert alert-danger" id="error-alert" style="display:none;margin-top:15px;">
    Authentication Failure.
</div>

<div class="card card-login mx-auto mt-5">
    <div class="card-header">Login</div>
    <div class="card-body">
        <form action="@ViewBag.FormAction" method="post" id="loginForm">

            <div class="form-group">
                <label for="userPrincipalName">User Principal Name</label>
                <input class="form-control" id="userPrincipalName" name="userPrincipalName" aria-describedby="emailHelp" placeholder="Enter UPN">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input class="form-control" id="password" name="password" type="password" placeholder="Password">
            </div>

            <div class="form-group">
                <label for="password">Domain</label>
                <select class="form-control" name="domain" id="domain">

                </select>
            </div>

            <input type="submit" class="btn btn-primary btn-block" style="margin-top:50px;" value="Login" />

            @*<a class="btn btn-primary btn-block" href="index.html">Login</a>*@
        </form>


        <div class="form-group">
            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" id="altLoginMethodCheckbox"> Alternative Login Method?
                </label>
            </div>
        </div>


        <a class="btn btn-secondary btn-block alt-login-btn" href="index.html" style="display:none;">OpenID Connect</a>

        <a class="btn btn-secondary btn-block alt-login-btn" href="index.html" style="display:none;">Windows Authentication</a>

        <a class="btn btn-secondary btn-block alt-login-btn" href="index.html" style="display:none;">SAML</a>

    </div>


</div>

@section Script{
    <script>
        $(document).ready(function () {
            Login.PageLoad();
        });
    </script>
}


@section Style{

    <style>
    </style>

}
