@{
    ViewData["Title"] = "Users";
    Layout = "~/Views/Shared/_Layout.light.cshtml";
}

<!-- Breadcrumbs -->
<!--<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="#">Authentication</a>
    </li>
    <li class="breadcrumb-item active">Login</li>
</ol>

<div class="alert alert-danger" id="error-alert" style="display:none;"></div>-->

<div class="card card-login mx-auto mt-5">
    I think you're logged in
</div>





    @section Script{

    @*<script src="~/js/view/security-roles.js"></script>*@

        <script>
            $(document).ready(function () {


            });
        </script>
    }


    @section Style{

        <style>
        </style>

    }
