@{
    ViewData["Title"] = "Certificate Manager - Pending Certificates";
    Layout = "~/Views/Shared/_Layout.BootstrapMinimal.cshtml";
}



<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="~/home/index">Home</a>
    </li>
    <li class="breadcrumb-item active">Pending Certificate Requests</li>
</ol>

<div class="alert alert-warning" id="warning-alert" style="display:none;">
    warning message
</div>

<div class="alert alert-danger" id="error-alert" style="display:none;">
    Error while creating the certificate.
</div>

<div class="alert alert-success" id="success-alert" style="display:none;">
    Certificate created successfully, redirecting... <a href="#" class="alert-link">Click here</a> if you're not redirected automatically.
</div>

<div class="background-panel">

    <div id="allPendingCertificates"></div>

</div>

    
@section Script{ 
    <script>
        $(document).ready(function () {
            PendingCertificates.PageLoad();
        });
    </script>
}





@section Style{ 
    <style>
        

    </style>
    
}