@using CertificateManager.Logic
@inject IRuntimeConfigurationState runtimeConfigState






@{ 
    bool hasAlerts = false;
    int alertCount = 0;

    var alerts = runtimeConfigState.GetAlerts();
    if (alerts != null)
    {
        alertCount = alerts.Count();

    }
}






<a class="nav-link dropdown-toggle mr-lg-2" href="#" id="alertsDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="fa fa-fw fa-bell"></i>
    <span class="d-lg-none">
        Alerts
        <span class="badge badge-pill badge-warning">6 New</span>
    </span>
    <span class="new-indicator text-warning d-none d-lg-block">
        <i class="fa fa-fw fa-circle"></i>
        <span class="number">@alertCount</span>
    </span>
</a>
<div class="dropdown-menu" aria-labelledby="alertsDropdown">
    <h6 class="dropdown-header">New Alerts:</h6>

    @foreach (var item in alerts)
    {
        <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">
                @AlertSeverityHelper.AlertSeverityHtmlString(item)
                <span class="small float-right text-muted">@item.Created.ToString("hh:mm")</span>
                <div class="dropdown-message small">@item.Message</div>
            </a>

    }





    @*<div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">
        <span class="text-success">
            <strong>
                <i class="fa fa-long-arrow-up"></i>
                Status Update
            </strong>
        </span>
        <span class="small float-right text-muted">11:21 AM</span>
        <div class="dropdown-message small">This is an automated server response message. All systems are online.</div>
    </a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">
        <span class="text-danger">
            <strong>
                <i class="fa fa-long-arrow-down"></i>
                Status Update
            </strong>
        </span>
        <span class="small float-right text-muted">11:21 AM</span>
        <div class="dropdown-message small">This is an automated server response message. All systems are online.</div>
    </a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">
        <span class="text-success">
            <strong>
                <i class="fa fa-long-arrow-up"></i>
                Status Update
            </strong>
        </span>
        <span class="small float-right text-muted">11:21 AM</span>
        <div class="dropdown-message small">This is an automated server response message. All systems are online.</div>
    </a>*@
    <div class="dropdown-divider"></div>
    <a class="dropdown-item small" href="#">
        View all alerts
    </a>
</div>