<ul class="navbar-nav navbar-sidenav" id="exampleAccordion">


    <li class="nav-item hr" data-toggle="tooltip" data-placement="right" title="" data-original-title="Link">
        <a class="nav-link" href="/home/index">
            <i class="fa fa-fw fa-home"></i>
            <span class="nav-link-text">Home</span>
        </a>
    </li>

    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="" data-original-title="Dashboard">
        <a class="nav-link" href="/view/certificates">
            <i class="fa fa-fw fa-search"></i>
            <span class="nav-link-text">All Certificates</span>
        </a>
    </li>

    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="" data-original-title="Dashboard">
        <a class="nav-link" href="/ca/private/certificates/request/views/new">
            <i class="fa fa-fw fa-certificate"></i>
            <span class="nav-link-text">New Private Certificate</span>
        </a>
    </li>

    @*<li class="nav-item" data-toggle="tooltip" data-placement="right" title="" data-original-title="Dashboard">
            <a class="nav-link" href="index.html">
                <i class="fa fa-fw fa-certificate"></i>
                <span class="nav-link-text">New Public Certificate</span>
            </a>
        </li>*@

    <li class="nav-item hr" data-toggle="tooltip" data-placement="right" title="" data-original-title="Link">
        <a class="nav-link" href="/view/certificate/request/pending">
            <i class="fa fa-fw fa-tasks"></i>
            <span class="nav-link-text">Pending Certificates</span>
        </a>
    </li>

    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="" data-original-title="Dashboard">
        <a class="nav-link" href="/view/nodes">
            <i class="fa fa-fw fa-server"></i>
            <span class="nav-link-text">Nodes</span>
        </a>
    </li>


    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="" data-original-title="Dashboard">
        <a class="nav-link" href="/view/scripts">
            <i class="fa fa-fw fa-code"></i>
            <span class="nav-link-text">Scripts</span>
        </a>
    </li>






    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="" data-original-title="Link">
        <a class="nav-link" href="/view/pki-config">
            <i class="fa fa-fw fa-cog"></i>
            <span class="nav-link-text">PKI Configuration</span>
        </a>
    </li>

    <li class="nav-item hr" data-toggle="tooltip" data-placement="right" title="" data-original-title="Link">
        <a class="nav-link" href="/view/general-config">
            <i class="fa fa-fw fa-wrench"></i>
            <span class="nav-link-text">General Configuration</span>
        </a>
    </li>



    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="" data-original-title="Link">
        <a class="nav-link" href="/view/security/auth-principals">
            <i class="fa fa-fw fa-group"></i>
            <span class="nav-link-text">Users</span>
        </a>
    </li>

    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="" data-original-title="Link">
        <a class="nav-link" href="/view/security/roles">
            <i class="fa fa-fw fa-user"></i>
            <span class="nav-link-text">Roles</span>
        </a>
    </li>

    <li class="nav-item hr" data-toggle="tooltip" data-placement="right" title="" data-original-title="Link">
        <a class="nav-link" href="/view/identity-sources/external">
            <i class="fa fa-fw fa-university"></i>
            <span class="nav-link-text">Identity Providers</span>
        </a>
    </li>

    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="" data-original-title="Link">
        <a class="nav-link" href="/view/logs">
            <i class="fa fa-fw fa-archive"></i>
            <span class="nav-link-text">Logs</span>
        </a>
    </li>

</ul>