packages/
CertificateAuthorityAdministration/obj/
CertificateAuthorityAdministration/bin/
CertificateManager.Entities/bin/
CertificateManager.Entities/obj/
CertificateManager.IntegrationTests/bin/
CertificateManager.IntegrationTests/obj/
CertificateManager.Logic/bin/
CertificateManager.Logic/obj/
CertificateManager.Repository/bin/
CertificateManager.Repository/obj/
CertificateManager.UnitTests/bin/
CertificateManager.UnitTests/obj/
CertificateManager/bin/
CertificateManager/obj/
CertificateServices.ActiveDirectory/obj/
CertificateServices.ActiveDirectory/bin/
CertificateServices/obj/
CertificateServices/bin/
CertificateManager/node_modules/
CertificateManager/wwwroot/js/
.vs


# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
