
<div class="modal fade" id="privateCaActionModal" role="dialog" aria-labelledby="privateCaActionModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="privateCaModalLabel">Add Private Certificate Authority</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="container">

                        <input hidden="hidden" style="display:none;" id="privateCaId" />

                        <div class="form-group row">
                            <label for="caServerName" class="col-sm-2 col-form-label">Server Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="caServerName" placeholder="certp01">
                                
                            </div>
                        </div>


                        <div class="form-group row">
                            <label for="caCommonName" class="col-sm-2 col-form-label">Common Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="caCommonName" placeholder="Corporate Issuing Authority G1">
                            </div>
                        </div>


                        <div class="form-group row">
                            <label for="caHash" class="col-sm-2 col-form-label">Hash</label>
                            <div class="col-sm-10">
                                <select id="caHash" class="form-control" ></select>
                            </div>
                        </div>


                        <div class="form-group row">
                            <label for="caIdentityProvider" class="col-sm-2 col-form-label">Identity Provider</label>
                            <div class="col-sm-10">
                                <select id="caIdentityProvider" class="form-control"></select>
                            </div>
                        </div>

                    </div>
                </div>


                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="commitPrivateCaButton" data-dismiss="modal">Commit</button>
                </div>


        </div>
    </div>
</div>