<div class="modal fade" id="addAdcsTemplateModal" tabindex="-1" role="dialog" aria-labelledby="addAdcsTemplateModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit ADCS Template</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">

                    <div class="form-group row">
                        <label for="adcsTemplateName" class="col-sm-3 col-form-label">Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="adcsTemplateName" placeholder="ServerAuthentication-CapiRsa">
                        </div>
                    </div>


                    @*<div class="form-group row">
                        <label for="adcsTemplateHash" class="col-sm-3 col-form-label">Hash</label>
                        <div class="col-sm-10">
                            <select id="adcsTemplateHash" class="form-control"></select>
                        </div>
                    </div>*@


                    <div class="form-group row">
                        <label for="adcsTemplateCipher" class="col-sm-3 col-form-label">Cipher</label>
                        <div class="col-sm-10">
                            <select id="adcsTemplateCipher" class="form-control"></select>
                        </div>
                    </div>


                    <div class="form-group row">
                        <label for="adcsTemplateKeyUsage" class="col-sm-3 col-form-label">KeyUsage</label>
                        <div class="col-sm-10">
                            <select id="adcsTemplateKeyUsage"  class="form-control"></select>
                        </div>
                    </div>


                    <div class="form-group row">
                        <label for="adcsTemplateWindowsApi" class="col-sm-3 col-form-label">WindowsApi</label>
                        <div class="col-sm-10">
                            <select id="adcsTemplateWindowsApi" class="form-control"></select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="adcsTemplateAllowedToIssue" class="col-sm-3 col-form-label">AllowedToIssue</label>
                        <div class="col-sm-10">
                            <select multiple="multiple" style="min-width:280px;" id="adcsTemplateAllowedToIssue" class="form-control security-roles-adcs-select2 security-roles-adcs-select2-editable"></select>
                        </div>
                    </div>

                    <input value="" type="text" hidden="hidden" style="display:none;" id="selected-template-id"/>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="addAdcsTemplateButton" data-dismiss="modal">Commit</button>
            </div>
        </div>
    </div>
</div>