<div class="modal fade" id="LogDetailsModal" tabindex="-1" role="dialog" aria-labelledby="LogDetailsModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Event Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="form-group row">
                        <label for="eventTime" class="col-sm-3 col-form-label">Time</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control modal-input" id="eventTime" name="eventTime" readonly="readonly" style="max-width:100%;">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="eventResult" class="col-sm-3 col-form-label">Result</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control modal-input" id="eventResult" name="eventResult" readonly="readonly" style="max-width:100%;">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="eventCategory" class="col-sm-3 col-form-label">Category</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control modal-input" id="eventCategory" name="eventCategory" readonly="readonly" style="max-width:100%;">
                        </div>
                    </div>

                    <hr />

                    <div class="form-group row">
                        <label for="contextUserId" class="col-sm-3 col-form-label">ContextUserId</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control modal-input" id="contextUserId" name="contextUserId" readonly="readonly" style="max-width:100%;">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="contextUser" class="col-sm-3 col-form-label">ContextUser</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control modal-input" id="contextUser" name="contextUser" readonly="readonly" style="max-width:100%;">
                        </div>
                    </div>

                    <hr />

                    <div class="form-group row">
                        <label for="targetId" class="col-sm-3 col-form-label">Target</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control modal-input" id="targetId" name="targetId" readonly="readonly" style="max-width:100%;">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="targetDescription" class="col-sm-3 col-form-label">Description</label>
                        <textarea rows="6" style="margin-left:15px;max-width:100%; width:611px;" readonly="readonly" class="form-control" id="targetDescription"> stuff</textarea>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>