
<div class="form-group row">
    <div class="col-sm-6">Configuration Cache Period (minutes)</div>
    <div class="col-sm-4">
        <div class="form-check">

            <select class="form-control" id="cachePeriod">
                <option>1</option>
                <option>5</option>
                <option>60</option>
                <option>360</option>
            </select>

        </div>
    </div>
</div>

<p>
    <button type="button" class="btn btn-primary" onclick="GeneralConfig.SaveSettings()">Save</button>
</p>