@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.BootstrapMinimal.cshtml";
}

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="#">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">My Dashboard</li>
</ol>

