@{
    ViewData["Title"] = "Node";
    Layout = "~/Views/Shared/_Layout.full.cshtml";
}

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li class="breadcrumb-item active">Node Details</li>
</ol>

<div class="alert alert-danger" id="error-alert" style="display:none;"></div>

<div class="alert alert-success" id="success-alert" style="display:none;">
    Node successfully edited
</div>

<div class="background-panel">


    <div class="tab">
        <button class="nodeDetails tablinks" onclick="openTab(event, 'nodeDetails')" id="defaultOpen">Details</button>
        <button class="nodeManagedCertificates tablinks" onclick="openTab(event, 'nodeManagedCertificates')">Managed Certificates</button>
    </div>

    <div id="nodeDetails" class="tabcontent">

        <div class="container">
            <div class="form-group">
                <label for="id">Id</label>
                <input class="form-control" type="text" readonly id="id" name="id" value="@ViewBag.NodeId">
            </div>

            <div class="form-group">
                <label for="name">Hostname</label>
                <input type="text" class="form-control" id="hostname">
            </div>

            <div class="form-group">
                <label for="credential">Credential</label>
                <input type="text" class="form-control" id="credential">
            </div>


            <div class="form-group row">
                <div class="col-sm-1">
                    <button class="btn btn-primary" onclick="">Save</button>
                </div>
                <div class="col-sm-1">
                    <button class="btn btn-primary" onclick="NodeDetails.InvokeCertificateDiscovery();">Start Certificate Discovery</button>
                </div>
            </div>
        </div>



    </div>

    <div id="nodeManagedCertificates" class="tabcontent">
        <table class="table table-striped" id="managedCertificatesTable">
            <thead>
                <tr>
                    <th data-field="id" scope="col">ID</th>
                    <th data-field="managedCertificateType" scope="col">Type</th>
                    <th data-field="thumbprint" scope="col">Thumbprint</th>
                    <th data-field="action" scope="col">Action</th>
                </tr>
            </thead>
        </table>

    </div>

</div>


@section Script{

    <script>
        $(document).ready(function () {
            NodeDetails.PageLoad();
        });
    </script>
}




@section Style{

    <style>

        .background-panel {
            background: #fff;
            border-radius: 4px;
        }

        .jsgrid-grid-header,
        .jsgrid-grid-body {
            overflow: auto;
        }

        td.jsgrid-cell {
            font-size: 13px;
        }

        th {
            color: #777;
            width: 120px;
            font-weight: 600;
            text-align: right;
            font-size: 12px;
            padding-left: 15px;
            padding-right: 15px;
            padding-top: 7px;
            padding-bottom: 7px;
        }

        td {
            padding-left: 15px;
            padding-right: 15px;
            padding-top: 7px;
            padding-bottom: 7px;
            font-size: 12px;
        }

        /* Style the tab */
        div.tab {
            overflow: hidden;
            border: 1px solid #ccc;
            background-color: #f1f1f1;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
        }

            /* Style the buttons inside the tab */
            div.tab button {
                background-color: inherit;
                float: left;
                border: none;
                outline: none;
                cursor: pointer;
                padding: 14px 16px;
                transition: 0.3s;
            }

                /* Change background color of buttons on hover */
                div.tab button:hover {
                    background-color: #ddd;
                }

                /* Create an active/current tablink class */
                div.tab button.active {
                    background-color: #ccc;
                }

        /* Style the tab content */
        .tabcontent {
            display: none;
            padding: 6px 12px;
            border: 1px solid #ccc;
            border-top: none;
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
        }
    </style>

}