<div class="modal fade" id="addSecurityRoleMemberModal" role="dialog" aria-labelledby="addSecurityRoleMemberModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add member to this security role</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">

                    <div class="form-group row">
                        <label for="memberId" class="col-sm-3 col-form-label">MemberId</label>
                        <div class="col-sm-10">
                            <select class="form-control user-select" name="user-select" id="user-select" ></select>
                            @*<input type="text" class="form-control" id="memberId" name="memberId" placeholder="cmurphy@microsoft.com">*@
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="addSecurityRoleMemberButton" data-dismiss="modal">Add</button>
            </div>
        </div>
    </div>
</div>