<div class="modal fade" id="addSecurityRoleModal" tabindex="-1" role="dialog" aria-labelledby="addSecurityRoleModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add a new certificate manager role</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">

                    <div class="form-group row">
                        <label for="secRoleName" class="col-sm-3 col-form-label">Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="secRoleName" name="secRoleName" placeholder="CertificateManagerAdmins">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="secRoleEnabled" class="col-sm-3 col-form-label">Enabled</label>
                        <div class="col-sm-10">
                            <input id="secRoleEnabled" name="secRoleEnabled" type="checkbox">
                        </div>
                    </div>



                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="AddSecurityRoleButton" data-dismiss="modal">Add</button>
            </div>
        </div>
    </div>
</div>