@page

@using CertificateManager.Entities
@using CertificateServices
@using CertificateServices.Enumerations


@model InitialSetupConfigModel
@{
    Layout = "~/Views/Shared/_Layout.InitialSetup.cshtml";
}


<form action="~/initial-setup" method="post" id="loginForm">

    <div class="card card-login mx-auto mt-5">
        <div class="card-header">Initial Setup Complete!</div>
        <div class="card-body">
            Please restart the web application to use Certificate Manager. <a href="~/initial-setup/restart-app">Restart App</a>
        </div>
    </div>

</form>

@section Script{
    <script>
        $(document).ready(function () {
            //Login.PageLoad();
        });
    </script>
}


@section Style{

    <style>
    </style>

}

