@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.BootstrapMinimal.cshtml";
}



<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="~/home/index">Home</a>
    </li>
    <li class="breadcrumb-item active">All Certificates</li>
</ol>

<div class="background-panel">

    <div id="allCertificatesTable"></div>

</div>

    
@section Script{ 
    <script>
        $(document).ready(function () {
            ViewAllCertificates.PageLoad();
        });
    </script>
}





@section Style{ 
    <style>
        

    </style>
    
}